body.contact-wrapper {
  background-color: $lighter-grey;
  opacity: 0.8;
}

.contact-container {
  text-align: center;
  height: 100%;
}

.contact-page {
  display: inline-block;
  margin: 100px auto;
}

.contact-links ul li {
  padding: 0px 22px;
  opacity: 0.6;
  justify-content: space-evenly;
  font-size: 25px;
  i {
    color: $light-grey;
  }
  &:hover {
    opacity: 1;
  }
}

.contact-details h1 {
  font-size: 30px;
}

.contact-details > h3{
  font-size: 15px;
}

.contact-details > h5{
  font-size: 15px;
}

