<div class="about-page" style="height:20px;">
  <div class="d-flex links">
    <ul class="d-flex flex-row list-inline larger-font links">
      <li>
        <a href="https://www.facebook.com/luca.kuhn">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/lucakuhn">
          <i class="fab fa-instagram"></i>
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/luca-kuhn-bbb779ab/">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>


    </ul>
  </div>
  <div class="get-in-touch"><a href="#">Get in touch</a></div>
</div>
<body class="about-page">
  <div style="width: 100%;">
    <div class="large-avatar">
      <%= image_tag 'headshot.png', class:"avatar-bordered text-center" %>
    </div>

  </div>
</body>
