<div class="about-page" style="height:20px;">
  <div class="d-flex darker-links">
    <ul class="d-flex flex-row list-inline larger-font ">
      <li>
        <a href="https://www.facebook.com/luca.kuhn">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/lucakuhn">
          <i class="fab fa-instagram"></i>
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/luca-kuhn-bbb779ab/">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>


    </ul>
  </div>
  <div class="get-in-touch"><a href="contact.html">Get in touch</a></div>
</div>
<body class="about-page">
  <div style="width: 100%;">
    <div class="large-avatar text-center">
      <%= image_tag 'headshot.png', class:"avatar-bordered text-center" %>
      <div class="about-me" style="width:80%; display: inline-block; text-align: justify;">
        <h2>Hi guys, </h2>
        <p>My name is Luca, I was born in Switzerland and grew up in Munich. I have been in England for 11 years now, and I am based in London. I am a fullstack Ruby on Rails developer, and I have a business & finance bachelors degree. I also have a big passion for health and excercise, therefor I am also currently studying Naturpathic Nutrition at CNM in London. </p>
      </div>
    </div>

  </div>
</body>
