<div class="contact-page">
  Contact me

  0044 / 7738234450

  luca.francesca.kuhn@gmail.com

  or

  <div class="d-flex darker-links">
    <ul class="d-flex flex-row list-inline larger-font ">
      <li>
        <a href="https://www.facebook.com/luca.kuhn">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/lucakuhn">
          <i class="fab fa-instagram"></i>
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/luca-kuhn-bbb779ab/">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>


    </ul>
  </div>

</div>
