<div class="d-flex page">

  <div id="left-side">
  <%= image_tag 'laptop_coffee.jpg', style:"width: 100%; height: 100vh; position:
  relative; object-fit: cover" %>
   <div id="left-text"><div id="l-text">Hi, I am</div> <div id="first-name">LUCA</div></div>
 </div>

  <div id="right-side">
    <div id="right-text">
      <div id="last-name">KUHN
      </div>
      <div id="r-text">I am a fullstack webdeveloper based in London
      </div>
      <%= link_to "Find out more", "#", class:"btn-main" %>
    </div>
  </div>
</div>
