<div class="d-flex page">

  <div id="left-side">
  <%= image_tag 'laptop_coffee.jpg', style:"width: 100%; height: 100vh; position:
    relative; object-fit: cover" %>

      <div class="d-flex links">
        <ul class="d-flex flex-row list-inline larger-font links">
          <li>
            <a href="https://www.facebook.com/luca.kuhn">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/lucakuhn">
              <i class="fab fa-instagram"></i>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/luca-kuhn-bbb779ab/">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>


        </ul>
      </div>
      <div id="left-text">
        <div id="l-text">Hi, I am</div>
        <div id="first-name">LUCA</div>
      </div>
 </div>

  <div id="right-side">
    <div class="get-in-touch">
      <%= link_to "Get in touch", "#" %>
    </div>

    <div id="right-text">
      <div id="last-name">KUHN
      </div>
      <div id="r-text">I am a fullstack webdeveloper based in London
        <div>
          <a class="btn-main" href="/about">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</div>
